    <div class='intro'>
      <header class='fan'>Fan <span class='fury'>Fury</span></header>

      <div class='login card border-dark'>
        <input class='rounded mb-2' type='text' placeholder='Username:' />
        <input class='rounded' type='text' placeholder='Password:' />

        <button class='btn btn-dark m-auto mt-2 mb-2'>Login</button>
        <button class='btn btn-dark m-auto'>Register</button>
      </div>
    </div>