<div class='accountregister'>
      <header class='accounthead'>Register For an Account</header>
      <div class='card register border-dark'>
        <input class='rounded mb-2' type='text' placeholder='Email:' />
        <input class='rounded mb-2' type='text' placeholder='Username:' />
        <input class='rounded mb-2' type='text' placeholder='Password:' />
        <div
          class='wrap-input1 validate-input'
          data-validate='Tell us about yourself is required'
        >
          <textarea
            class='input rounded mb-2 about'
            name='message'
            placeholder='Tell us about yourself:'
          ></textarea>
        </div>
        <button class='btn btn-success rounded' id="final-Register">Register</button>
      </div>
    </div>
  <script src='/public/js/index.js'></script>
</html>

<textarea
  class='input1'
  name='message'
  placeholder='Tell us about yourself'
></textarea>