<div class='teamSelect'>
      <header class='teamHeader'>Select your favorite team(s)!</header>
      <div class='container teamLogos'>
        <img
          class='logo border rounded-circle'
          id='ARI'
          src='/images/Arizona-Cardinals-Logo.png'
          alt='Arizona Cardinals logo'
        />
        <img
          class='logo border rounded-circle'
          id='ATL'
          src='/images/atlanta-falcons-logo.png'
          alt='Atlanta Falcons Logo'
        />
        <img
          class='logo border rounded-circle'
          id='BUF'
          src='/images/buffalo-bills-logo.png'
          alt='Buffalo Bills Logo'
        />
        <img
          class='logo border rounded-circle'
          id='BAL'
          src='/images/baltimore-ravens-logo'
          alt='Baltimore Ravens Logo'
        />
        <img
          class='logo border rounded-circle'
          id='CAR'
          src='/images/Carolina-Panthers-logo.jpg'
          alt='Carolina Panthers Logo'
        />
        <img
          class='logo border rounded-circle'
          id='CIN'
          src='/images/cincinati=bengals-logo.jpg'
          alt='Cincinnati Bengals Logo'
        />
        <img
          class='logo border rounded-circle'
          id='CLE'
          src='/images/cleveland-browns-logo.webp'
          alt='Cleveland Browns Logo'
        />
        <img
          class='logo border rounded-circle'
          id='CHI'
          src='/images/chicago-bears-logo.jpg'
          alt='Chicago Bears Logo'
        />
        <img
          class='logo border rounded-circle'
          id='DAL'
          src='/images/dallas-cowboys-logo.webp'
          alt='Dallas Cowboys Logo'
        />
        <img
          class='logo border rounded-circle'
          id='DEN'
          src='/images/broncos logo.webp'
          alt='Denver Broncos Logo'
        />
        <img
          class='logo border rounded-circle'
          id='DET'
          src='/images/detroit-lions-logo.png'
          alt='Detroit Lions Logo'
        />
        <img
          class='logo border rounded-circle'
          id='GB'
          src='/images/greenbay-packers-logo.png'
          alt='Greenbay Packers Logo'
        />
        <img
          class='logo border rounded-circle'
          id='HOU'
          src='/images/houston-texans-logo.png'
          alt='Houston Texans Logo'
        />
        <img
          class='logo border rounded-circle'
          id='IND'
          src='/images/Indianapolis_Colts_logo.png'
          alt='Indianapolis Colts Logo'
        />
        <img
          class='logo border rounded-circle'
          id='KC'
          src='/images/kansas-city-chiefs-logo.png'
          alt='Kansas City Chiefs Logo'
        />
        <img
          class='logo border rounded-circle'
          id='LAC'
          src='/images/los=angelos-chargers-logo.png'
          alt='Los Angelos Chargers Logo'
        />
        <img
          class='logo border rounded-circle'
          id='LAR'
          src='/images/la-rams-logo.jpg'
          alt='La Rams Logo'
        />
        <img
          class='logo border rounded-circle'
          id='JAX'
          src='/images/jacksonville-jaguars-logo.jpg'
          alt='Jacksonville-jaguars-logo'
        />
        <img
          class='logo border rounded-circle'
          id='MIA'
          src='/images/miami-dolphins-logo.jpg'
          alt='Miami Dolphins Logo'
        />
        <img
          class='logo border rounded-circle'
          id='MIN'
          src='/images/minnesota-vikings-logo.jpg'
          alt='Minnestoa Vikings Logo'
        />
        <img
          class='logo border rounded-circle'
          id='NE'
          src='/images/new-england-patriots-logo.jpg'
          alt='New England Patriots Logo'
        />
        <img
          class='logo border rounded-circle'
          id='NO'
          src='/images/new-orleans-saints-logo.jpg'
          alt='New Orleans Saints Logo'
        />
        <img
          class='logo border rounded-circle'
          id='NYG'
          src='/images/New_York_Giants_logo.png'
          alt='New York Giants Logo'
        />
        <img
          class='logo border rounded-circle'
          id='NYJ'
          src='/images/new-york-jets-logo.png'
          alt='New York Jets'
        />
        <img
          class='logo border rounded-circle'
          id='LV'
          src='/images/las-vegas-raiders.jpg'
          alt='Las Vegas Raiders Logo'
        />
        <img
          class='logo border rounded-circle'
          id='PHI'
          src='/images/philadelphia-eagles-logo.jpg'
          alt='Philadelphia Eagles Logo'
        />
        <img
          class='logo border rounded-circle'
          id='SF'
          src='/images/sf-49ers-logo.png'
          alt='SF 49ers Logo'
        />
        <img
          class='logo border rounded-circle'
          id='SEA'
          src='/images/seattle seahawks-logo.jpg'
          alt='Seattle Seahawks Logo'
        />
        <img
          class='logo border rounded-circle'
          id='PIT'
          src='/images/pitsburgh stealers logo.jpg'
          alt='Pitsburgh Stealers Logo'
        />
        <img
          class='logo border rounded-circle'
          id='TB'
          src='/images/Tampa-Bay-Buccaneers-symbol.jpg'
          alt='Tampa Bay Buccaneers logo'
        />
        <img
          class='logo border rounded-circle'
          id='TEN'
          src='/images/tennassee titans logo.jpg'
          alt='Tennassee Titans Logo'
        />
        <img
          class='logo border rounded-circle'
          id='WAS'
          src='/images/washington-redskins-logo.jpg'
          alt='Washington Redskins Logo'
        />
      </div>
    </div>
  <script src='/js/apiJava.js'></script>
